<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="info.novatec.testit.livingdoc.eclipse.launcher.RunSpecification">
<stringAttribute key="baseURL" value="http://192.168.56.101:8090/confluence/rpc/xmlrpc?handler=livingdoc1#LD"/>
<stringAttribute key="local" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="info.novatec.testit.livingdoc.runner.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sample-livingdoc"/>
<stringAttribute key="password" value="geheim123"/>
<stringAttribute key="repoClass" value="info.novatec.testit.livingdoc.repository.AtlassianRepository"/>
<stringAttribute key="repoName" value="LDDVDStore"/>
<stringAttribute key="repoUID" value="Confluence-LD"/>
<stringAttribute key="serializedSpecification" value="89fbfa02-a1a9-4f46-a2cd-d266ee31bc53"/>
<stringAttribute key="specificationName" value="Update order"/>
<stringAttribute key="username" value="novatec"/>
<stringAttribute key="workingversion" value="false"/>
</launchConfiguration>
